@charset "utf-8";
/* CSS Document */
html{
	min-width: 1150px;
}
* {
	padding: 0px;
	margin: 0px;
}
a{text-decoration:none;}
a img{border:none;}
li {
	list-style: none;
}
body {
	font-size: 14px;font-family: "微软雅黑";
}
/*.clear {
	clear: both;
}*/
.clear:before,.clear:after{ content:""; clear:both; display:block; line-height:0px;}
.r{ float:right;}
.l{float:left;}
.center{margin:0 auto;}
.width{width:100%;margin:0 auto;}
h2{font-size:26px;font-weight:normal;color:#8d8d8d; line-height:46px;}
h3{ font-size:24px;font-weight:normal;}
h5{
	font-size: 24px;
    font-weight: normal;
    color: #ffffff;
}

::-moz-selection{background:#1EACDF;color:#FFFFFF;}
::-webkit-selection{background:#1EACDF;color:#FFFFFF;}
::selection {background:#1EACDF;color:#FFFFFF;}

.slogan{
	float: left;
    margin: 15px 0;
    margin-bottom: 0;
}
.slogan > img{
	margin: 0 34px;
    float: left;
}
.slogan > img:last-child{
	width: 288px;
    margin-top: 10px;
}
.w120{ width:1150px;margin:0  auto;}
div,ul,li{box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.clear:before,.clear:after{ content:""; clear:both; display:block; line-height:0px;}
.bg_tranis{-webkit-transition:background 0.3s ease;-moz-transition:background 0.3s ease;transition:background 0.3s ease;}

.ease{ -webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-webkit-transition-duration:0.5s;
     -webkit-transition-property: background-color, background-position, color, border-color, opacity, z-index, transform, box-shadow;
	 -moz-transition-property: background-color, background-position, color, border-color, opacity, z-index, transform, box-shadow;
	  transition-property: background-color,background-position, color, border-color, opacity, z-index, transform, box-shadow;
      -webkit-transition-timing-function: ease;-moz-transition-timing-function: ease;  transition-timing-function: ease;}

header{top:0px;left:0px; width:100%; background:rgba(255,255,255,0.8); z-index:10;height: 180px;}
.head_bor{ }
header h1{ margin-top:0px; overflow:hidden;margin: 10px 0;}
header h1 a{display:inline-block;}
header h1 .icous{ vertical-align:top; margin-left:5px;}
header  li a{color:#616161; transition: color 0.3s ease 0s;}
header  li a:hover{color:#009fd9; }

header  ul.head_nav li{     
	float: left;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 140px;
    background-color: #F5F5F5;
}
header  ul.head_nav .active{border-bottom:3px solid #009FD9;}
header  ul.head_nav .active2{border-color: transparent transparent #009fd9; border-style: solid; border-width: 6px; bottom: 2px; position:absolute;  top: 55px;left: 44%;}
header  ul.head_nav li ul{ position:absolute; z-index:3; padding-top:0px;border-left: 1px dashed #ddd;height:0px; width:127px; overflow:hidden;}
header  ul.head_nav li ul li{height:40px; line-height:40px; position:static; font-size:14px;} 
header  ul.head_nav li ul li:hover{border-bottom:none;}
header  ul.head_nav li ul a:hover{text-decoration:underline;}

nav{ width:100%; position:absolute; top:70px; background-color: #fff;box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);height:0px; z-index: 2; overflow:hidden;}
.nav_bor{ border-right:1px dashed #ddd;}
.head_nav{
	width: 970px;
    text-align: center;
    background-color: #F5F5F5;
}
/*------------------------导航结束-------------------------------------*/

.banner{clear:both; margin-top:0px; position:relative; height:420px; z-index:0;}
.banner>div{height:420px; top:0px;  position:absolute;width:100%; z-index:0; opacity:0; filter:alpha(opacity=0);}
.banner .w120{ margin-top:70px;height:270px;}
.banner .w120 .l{ position:relative; left:0px;width:60%; height:100%}
.banner strong,.banner p,.banner a{opacity:0; filter:alpha(opacity=0);}
.banner strong{ font-size:46px;font-weight:normal;position:absolute;}
.banner p{ font-size:20px;  line-height: 86px;    margin-bottom: 39px;position:absolute;}
.banner a{border:1px solid #fff;color:#fff;transition:color,background 0.1s  ease-in-out;position:absolute;border-radius:4px; text-align:center;display:block; width:115px; padding:8px 0px 10px;}
.banner a:hover{ transition:color,background 0.1s  ease-in-out;background:#fff;}

.banner .bann_1{ background:url(../images/ad_1.png) center center no-repeat; z-index:1; opacity:1; filter:alpha(opacity=100);}
.banner .bann_2{background:url(../images/ad_2.png)  center center no-repeat;color:#fff;}
.banner .bann_3{ background:url(../images/ad_3.png)  center center no-repeat;}

.banner ol{ position:absolute; bottom:20px;left:45%; z-index:10;color:#fff; }
.banner ol li{ width:10px; height:10px; border-radius:50%;float:left;border:1px solid #fff; margin:0 5px;cursor:pointer; transition:background 0.1s ease-in-out; 
-webkit-transition:background 0.1s ease-in-out; -mos-transition:background 0.1s ease-in-out; cursor:pointer}
.banner ol .active3{ background:#fff; transition:background 0.1s ease-in-out; -webkit-transition:background 0.1s ease-in-out;
 -mos-transition:background 0.1s ease-in-out;}
 /*------------------------------轮播图结束---------------------------------*/
 
.notice{ height:40px; line-height:40px;background-color: #f8f9fb; overflow:hidden;position:relative;}
.notice a{color:#333;}
.notice a:hover{color:#379BFD;}
.notice li{ position:relative; clear:both; height:40px;}
.notice li>a{ overflow:hidden; white-space:nowrap;text-overflow: ellipsis; display:block; width:300px; float:left; height:100%;}
.notice li>a:before{ background:url(img/icons_80cc695.png) -77px -90px no-repeat; content:"";width:20px; height:20px; display:block; float:left; margin-top:12px;}
.notice li>a:hover::before{ background:url(img/sound-dark_f334fbc.gif) -16px -10px no-repeat;content:"";width:20px; margin-top:9px;} 
.notice li time{ margin-right:30px;}
.notice  p{ position:absolute;right:8%;top:0px; z-index:2;}
.notice  p a{ display:block; height:8px;width:14px; margin:8px 0px;}
.notice  p a:first-child{ background:url(img/btn_up.png) no-repeat;}
.notice  p a:first-child:hover{ background:url(img/btn_up_hover.png) no-repeat;}
.notice  p a:last-child{ background:url(img/btn_down.png) no-repeat;}
.notice  p a:last-child:hover{ background:url(img/btn_down_hover.png) no-repeat;}
 /*------------------------------滚动公告结束---------------------------------*/
 
.list{margin:0px auto; clear:both; padding:20px 0px;} 
.padnone{padding:0;}
.list h2{    
	font-size: 24px;
    text-align: left;
}
.list > p{ font-size:16px; text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;color:#999; line-height:2.5;} 
.list > ul{}
.product{height: 260px; background: url(../images/serverbanner.png) center center no-repeat;}
.list .product li{ position:relative;width:30%; float:left; 
transition:box-shadow 0.3s ease-in-out; -webkit-transition:box-shadow 0.3s ease-in-out; -moz-transition:box-shadow 0.3s ease-in-out;}
.list .product li:hover{ box-shadow:0px 15px 30px rgba(0,0,0,0.2);transition: box-shadow 0.3s ease-in-out; -webkit-transition:box-shadowd 0.3s ease-in-out; -moz-transition:box-shadow 0.3s ease-in-out;}
.list .product li.margin_lr{ margin:0px 5%;}

.list .product li div{padding: 20px 0 1px 10.5%;border: 1px solid #e6e6e6;border-bottom:none;}   
.list .product li span{ position:absolute;right:0px; top:0px;height:64px; width:64px;}
.list .product p{color:#333; margin:19px 0px;}
.list .product p strong{ font-size: 32px;font-weight:normal;    font-family: Georgia;color: #f76c35;}
.list .product a{ height:40px; line-height:40px; display:block;color:#fff;background-color: #00a6e2; text-align:center; font-size:18px; letter-spacing:1px;
 transition: background 0.3s ease-in-out; -webkit-transition:background 0.3s ease-in-out; -moz-transition:background 0.3s ease-in-out;}   
.list .product a:hover{ background:#009ad3; transition: background 0.3s ease-in-out; -webkit-transition:background 0.3s ease-in-out; -moz-transition:background 0.3s ease-in-out;}   

.list .product li:nth-of-type(1){background: url(img/cloud_bg.png) 86% 47% no-repeat;}
.list .product li:nth-of-type(1) span{ background:url(img/hot_sale.png) no-repeat; } 
 
.list .product li:nth-of-type(2){background: url(img/hosting_bg.png) 86% 47% no-repeat;}
.list .product li:nth-of-type(2) span{ background: url(img/new_arrival.png) no-repeat; } 

.list .product li:nth-of-type(3){background: url(img/virtual_bg.png) 86% 47% no-repeat;}
.list .product li:nth-of-type(3) span{ background:url(img/tobe_online.png) no-repeat; }
/*------------------------------产品结束--------------------------------------------*/

.list_bg{ background-color: #f3f4f4;}
.margin57{
	margin: 0 57px;
}
.list .scheme li{
	width: 345px;
    height: 422px;
    background: #FFF;
    text-align: left;
    float: left;
}
.list .scheme p{
	color: #ffffff;
    font-size: 20px;
    font-family: -webkit-body;
}
.list .scheme span{
	display: block;
    height: 95px;
    padding: 0 15px;
    line-height: 45px;
}
.list .scheme a{
	display: block;
    width: 100%;
    height: 327px;
    overflow: hidden;
}
.list .scheme a img{
    width: 100%;
}
.bgcolor_yellow{
	background-color: #ffc000;
}
.bgcolor_red{
	background-color: #e5001f;
}
.bgcolor_blue{
	background-color: #00b6ef;
}
.p_bg{
	height:412px;
	background: url(../images/p_bg.png) center center no-repeat;
}
.p_bg2{
	height:412px;
	background: url(../images/p_bg2.png) center center no-repeat;
}
.partner_bg{
	height:159px;
	background: url(../images/partner.png) center center no-repeat;
}
/*-------------------------------方案结束-------------------------------------------------*/

.list .case{ margin-top:30px;}
.list .case .l{width:34%; position:relative;padding-top:28px; padding-left:70px;}
.list .case span{color: #009fd9;font-size: 100px; font-family: "SimHei";}
.list .case .l p{ font-size:16px;color:#999; line-height:1.8; text-indent:3em; } 
.list .case span:first-of-type { position:absolute;left:0px; top:0px;}   
.list .case span:last-of-type{ position:absolute;right:-60px; bottom:-90px; }  
.list .case .r{width:66%; padding-left:120px; margin-top:20px;}

.list .case .r li{width:170px; height:170px; float:left; text-align:center;  position:relative;padding: 34px 0px 0px 37px;z-index:1; margin-right:-16px; margin-top:-20px;}
.list .case .r li:hover{background:url(img/cus_bg_li.png) no-repeat;}
.list .case .r li img{margin-left: -32px;}
.list .case .r li i{position: absolute;width: 110%;height: 120%;left:0px;top: 0; display:block;background: url(img/cus_bg.png) no-repeat; z-index:0;}
.list .case .r li a:hover i{ opacity:0; filter:alpha(opacity=0); -webkit-transform:scale(1.4); -moz-transform:scale(1.4);transform:scale(1.4)} 
  
.list .case .r li:nth-of-type(1) img{margin-top: 11px;}   
.list .case .r li:nth-of-type(2) img{margin-top: 32px;}       
.list .case .r li:nth-of-type(3) img{margin-top: 11px;}   
.list .case .r li:nth-of-type(4) img{margin-top: 32px;}          
.list .case .r li:nth-of-type(5) img{margin-top: 11px;}   
.list .case .r li:nth-of-type(6) img{margin-top: 7px;}      
.list .case .r li:nth-of-type(7) img{margin-top: 11px;}   
.list .case .r li:nth-of-type(8) img{margin-top: 15px;}   
/*---------------------------------案例结束---------------------------------------------*/     

.list .partner{ column-count:5; -moz-column-count:5; -webkit-column-count:5;}
.list .partner li{border: 1px solid #eee; height:100px; background:url(img/partner_logos.jpg) no-repeat;}
.list .partner li:hover{ border-color:#1EACDF;}
.list .partner li:nth-of-type(1){ background-position:-84px 0px;}
.list .partner li:nth-of-type(2){ background-position:-84px -98px;}
.list .partner li:nth-of-type(3){ background-position:-84px -196px;}
.list .partner li:nth-of-type(4){ background-position:-84px -294px;}
.list .partner li:nth-of-type(5){ background-position:-84px -392px;} 
/*-------------------------------合作伙伴-------------------------------------*/


.list .new{}
.list .new h3{color:#333; margin:15px 0px;}
.list .new ul{ line-height:40px;width:30%; float:left; overflow:hidden;}
.list .new ul:nth-of-type(2){ margin:0px 5%;}
.list .list_tit{line-height: 20px;border-bottom: 1px solid #eee; margin-bottom: 10px;position:relative;} 
.list .list_tit a.more{ position:absolute; right:0px; bottom:15px;color:#009fd9;}
.list .list_tit a.more:hover{ text-decoration:underline;}
.list .new li{ font-size:14px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100%;}
.list .new li a{ color:#666; }
.list .new li a:hover{color:#009fd9;}
.list .new li a time{color:#999;}
.list .new ul .img{ width:100%; height:73px; overflow:hidden; margin:16px 0px 0px 7px;}
.list .new ul .img a{background:url(img/notice_img_free.jpg) no-repeat; display:block; width:100%; height:100%; transform:scale(1,1);transform-origin:center; 
 -webkit-transition: transform 1s ease-in-out; -moz-transition: transform 1s ease-in-out;transition: transform 1s ease-in-out}
.list .new ul .img:hover a{ transform:scale(1.05,1.05);transform-origin:center;  -webkit-transition: transform 1s ease-in-out; -moz-transition: transform 1s ease-in-out;transition: transform 1s ease-in-out}
/*------------------------新闻公告结束----------------------------------*/

.zhuce{text-align:center;}
.zhuce a{  background-color: #009FD9; display:block; padding:10px 0px; width:240px;color:#fff; margin:0 auto;}
.zhuce a:hover{ background-color:#0091c7;}


.fuwu{ margin-top:50px; padding:25px 0px; -webkit-column-count:5;column-count:5; column-rule:1px solid #e6e6e6;-webkit-column-rule:1px solid #e6e6e6;
-moz-column-count:5; -moz-column-rule:1px solid #e6e6e6;}
.fuwu li{height:50px; background:url(img/features_iconlist.png) center 0px no-repeat; }
.fuwu li a{display:block; width:100%; height:100%;}
.fuwu li:first-of-type{border-left:1px solid #e6e6e6;}
.fuwu li:last-of-type{border-right:1px solid #e6e6e6;}

.fuwu li:first-of-type:hover{ background-position:center -254px;}
.fuwu li:nth-of-type(2){ background-position:center -51px;}
.fuwu li:nth-of-type(2):hover{ background-position:center -304px;}
.fuwu li:nth-of-type(3){ background-position:center -103px;}
.fuwu li:nth-of-type(3):hover{ background-position:center -357px;}
.fuwu li:nth-of-type(4){ background-position:center -154px;}
.fuwu li:nth-of-type(4):hover{ background-position:center -408px;}
.fuwu li:nth-of-type(5){ background-position:center -204px;}
.fuwu li:nth-of-type(5):hover{ background-position:center -459px;}
/*------------------保障保证---------------------*/

.video{ background:url(../images/map.png) center 0px no-repeat; height:0px;  width:100%; overflow:hidden;}
.video .video_text{ background: url(img/v_banner_text.png) center center no-repeat; height:138px; width:508px; margin:0px auto 0px; position:relative;top:-20px}
.video a{ display:block; background:url(img/v_link.png) no-repeat; width:72px; height:72px; margin:0 auto;margin-top:-28px; position:relative;bottom:-18px;}
.video a:hover{ background:url(img/v_link_hover.png) no-repeat; -webkit-animation:videorun 0.3s ease-in-out 0s 2 normal; -moz-animation:videorun 0.3s ease-in-out 0s 2 normal;
animation:videorun 0.3s ease-in-out 0s 2 normal;}
.video_h{-webkit-animation:videoH 0.5s ease-in-out 0s 3 normal; -moz-animation:videoH 0.5s ease-in-out 0s 3 normal;
animation:videorun 0.5s  cubic-bezier(0.9,1.1,0.9,1) 0s 3 normal;}

@keyframes videorun{
	0%{  -webkit-transform:scale(1);-moz-transform:scale(1); -webkit-transform-origin:center; -moz-transform-origin:center;}
	50%{  -webkit-transform:scale(1.1);-moz-transform:scale(1.1); -webkit-transform-origin:center; -moz-transform-origin:center;}
	100%{  -webkit-transform:scale(1); -moz-transform:scale(1);-webkit-transform-origin:center; -moz-transform-origin:center;}
	}

/*--------------------------------视频播放结束------------------------------------------------------*/

footer{
	background: #323232;
    color: #fff;
    padding: 44px 0px 50px;
}
.service dl{ float:left; line-height:2.2; width:18%;}    
.service dl dt{ font-size:18px;}
.service dl dd{ font-size:14px;}
.service .wei{ width:26%; float:left; }
.service .wei p{ line-height:40px;}
.service .wei h2{ background: url(img/phone_32px.png) left center no-repeat;color:#fff; padding-left:40px;}
.service .wei a{color:#fff;display: inline-block; height:32px; line-height:32px;}
.service .wei .r span{ background:url(img/plat_icon.png) no-repeat; width:32px; height:32px; display: inline-block; float:left; margin-right:12px;}
.service .wei p:nth-of-type(2) span{ background-position:-32px 0px;}
.service .wei p:nth-of-type(3) span{ background-position:-64px 0px;}

.service .wei .l{position:relative;width: 152px;height: 132px; }
.service .wei .l>div{width: 132px;height: 132px;  border: 1px solid #dddddd; background-color: #fff; background: url(img/plat_qrcode.png) no-repeat; position:absolute;
top:0px;}

.service .wei .l span{  border: 10px solid transparent;top: 12px;border-left: 10px solid #fff; position: absolute;right:0px; z-index: 10;} 

.service .wei .l .wei_img_1{ z-index:1;}
.service .wei .l .wei_img_2{ background-position:-132px 0px; z-index:0;}
.copyright{
	text-align: center;
    line-height: 2.4;
    font-size: 14px;
}

/*--------------------------------服务保障底部--------------------------------------*/


.return_top{ position:fixed; bottom:60px; right:30px; width:50px; height:230px; z-index:10; }
.return_top li{ background: url(img/side_icons.png) no-repeat #00b7e7; margin-top:10px; cursor:pointer;border-radius: 4px; width:50px; height:50px;-webkit-transition:background 0.3s ease;-moz-transition:background 0.3s ease;transition:background 0.3s ease;}
.return_top li:hover {background-color: #f76c35;}
.return_top li:nth-of-type(2){ background-position:-50px 2px;}
.return_top li:nth-of-type(3){ background-position:-100px 0px;}
.return_top li:nth-of-type(4){ background-position:-150px 0px;display:none;opacity:0; filter:alpha(opacity=0);}

.return_top .tel{ position: absolute; width: 230px; right: 69px;top:71px;z-index: 30;background: #fff;height: 50px;line-height: 50px; padding-left: 20px; color: #666;
 font-size: 16px; border: 1px solid #ddd; display:none;opacity:0; filter:alpha(opacity=0);}
.return_top .tel_icon{ border: 10px solid transparent;  border-left: 10px solid #fff;position: absolute; right: -19px;bottom: 14px;z-index:10;}
.return_top .tel_bor{border: 11px solid transparent;border-left: 11px solid #ddd; position: absolute; right: -22px;  bottom: 13px; z-index: 9;}
.return_top .wewe{ background: url(img/code2d.png) no-repeat; position:absolute;width: 142px; height: 144px; right:69px; top:80px; display:none;opacity:0; filter:alpha(opacity=0);} 

/*---------------------返回顶部结束----------------------------*/   


